.employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Ensure the container is positioned relative */
}

.employee {
  width: 450px; /* Increase the width */
  height: 600px; /* Increase the height */
  background-image: url('/public/employee/idle.png');
  background-size: cover;
  animation: idle-animation 2s infinite;
  margin-left: -55px; /* Move to the left by 10 pixels */
  margin-top: 0px; /* Move up by 10 pixels */
}

.employee.idle {
  animation: idle-animation 2s infinite;
}

.employee.talking {
  background-image: url('/public/employee/speaking2.png');
  animation: talking-animation 1s steps(2) infinite;
}

.employee.listening {
  background-image: url('/public/employee/listening.png'); 
  animation: none;
}

.employee-buttons {
  position: absolute;
  bottom: -85px; /* Move the button down by 10px */
  left: 50%;
  transform: translateX(-60%);
  display: flex;
  justify-content: center;
}

.employee-buttons button {
  border: none;
  background: none;
  cursor: pointer;
}

@keyframes idle-animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes talking-animation {
  0% {
    background-image: url('/public/employee/speaking1.png'); 
  }
  33% {
    background-image: url('/public/employee/speaking2.png');
  }
  66% {
    background-image: url('/public/employee/speaking3.png'); 
  }
  100% {
    background-image: url('/public/employee/speaking4.png'); 
  }
}